Welcome to Weeve!

Please click on the link below to verify your account.

<a href='<%= @confirmUrl %>'><%= @confirmUrl %></a>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>