Dear <%= @corp.name %>, <br/><br/>

Thank you for your interest in Weeve. We will send you updates about upcoming features and account invitations.   <br/><br/>

In the meantime, you can follow us on <a href="https://twitter.com/weeveit">Twitter</a> or like us on <a href="https://www.facebook.com/WeeveIt">Facebook</a>.  <br/><br/>

With Weeve, you will be able to achieve a new level of outreach and enhance your social good image!<br/><br/>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>