Welcome to Weeve! Thank you for signing up with Weeve. Our free,
simple, and secure funding platform will help you raise money for your
community project.<br/><br/>

Please click on the following link to confirm your e-mail address:<br/><br/>

<a href='<%= @confirmUrl %>'><%= @confirmUrl %></a><br/><br/>

Once you are logged in, you can create a community project by clicking
on the “create project” button!<br/><br/>

You will love our easy-to-use platform! From raising money for your
community project to sharing your project via integrated social media
channels, you will have full control of your nonprofit profile page.<br/><br/>

Nonprofits are an integral part of society and provide a wealth of
services that people have an urgent need for. We thank you for your
hard work! We look forward to helping you cultivating positive social
change in your community.<br/><br/>

If you have any questions, please feel free to contact us at
hello@weeve.it, and we will get back to you promptly.<br/><br/>

Best of luck in all you do, and thank you for your tireless efforts.<br/><br/>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>