Dear <%= @npo.name %>, <br/><br/>

Thank you for your interest in Weeve. We will send you an invite soon.   <br/><br/>

In the meantime, you can follow us on <a href="https://twitter.com/weeveit">Twitter</a> or like us on <a href="https://www.facebook.com/WeeveIt">Facebook</a>.  <br/><br/>

We're excited to get you started on your first project!<br/><br/>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>