Hello <%= @npo.name %>! <br/><br/>

Congratulations! Your project <%= @project.title %> has been reviewed and accepted. It has been published on Weeve and is ready for donations. <br/><br/>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>