Welcome to Weeve!
<br/><br/>
Your email address has been changed, click on the link below to reconfirm this email address.
<br/><br/>
<a href='<%= @confirmUrl %>'><%= @confirmUrl %></a>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>