You have requested to recover your email.  The link below will allow you to set a new password.  If you did not submit for this email, then you can ignore this message.  If you did, the link will only be active for 7 days.
<br/><br/>
<a href='<%= @confirmUrl %>'><%= @confirmUrl %></a>

Sincerely,<br/><br/>
The Weeve team<br/>
<a href="https://www.weeve.it">www.weeve.it</a><br/>
<a href="https://www.facebook.com/WeeveIt">Like us on Facebook!</a><br/>
<a href="https://twitter.com/weeveit">Follow us on Twitter!</a><br/>