<%= render :partial => "uni_top", :locals => {:user => true}%>
<div class='uniContentWrap'>
  <div class='uniTitle'>Donate to Projects</div>

  <div class='uniSubtitle'>
    Why donate through Weeve?
  </div>

  <div class='uniPara'>
	Weeve pre-certifies the legitimacy of all registered nonprofit partners by requiring transparency; they do this by keeping their donors updated with the progress of their project(s). Generally speaking, 35% of donations to larger charities and organizations are used to cover overhead costs such as promotion and administration – this percentage is too high. Weeve has developed a solution to this. By providing project-specific donation pathways to maximize the community impact of donations and by donating to project-specific endeavours, donors can follow the project and receive notifications of all the milestones reached. With Weeve, you know exactly what your money is being used for - it is a donation that makes sense.
  </div>

  <div class='uniPara'>
    **Please note that PayPal takes a 1.9% +0.30 transaction fee when you donate. We use PayPal because they are convenient, easy and safe to use.
  </div>

  <div class='uniSubtitle'>
    Is it safe to donate through Weeve?
  </div>

  <div class='uniPara'>
	Yes! Weeve uses PayPal’s adaptive payment in which your information is protected by PayPal, a trusted world-leading online transaction company. 
	 </div>
	
  <div class='uniSubtitle'>
    How much of my donation goes to the project?
  </div>

  <div class='uniPara'>
	100% of your donation goes towards any project that you donate to.
	 </div>

  <div class='uniSubtitle'>
    Do I need a PayPal account to donate?
  </div>

  <div class='uniPara'>
    No, you have the option to donate with PayPal’s guest checkout services.
  </div>

  <div class='uniSubtitle'>
    Will I get a tax receipt for my donation?
  </div>

  <div class='uniPara'>
   Only nonprofits with charitable status are able to issue tax receipts. Projects which are eligible for tax receipts will indicate their eligibility on the project page.
  </div>

  <div class='uniSubtitle'>
    Future Prospects
  </div>

  <div class='uniPara'>
	One of our core values is innovation and Weeve is always looking for ways to make giving fun for our members. At present, we are planning a rewards model by which donors will be rewarded with free perks from sweet brands that they love! 
	</div>

  <hr class='dotted uniDotted'/>

  <div class='uniNextWrap'>
    <%= link_to 'Discover Projects', {:controller => :university, :action => :discover_projects}, :class => 'uniPrev' %>

  </div>
</div>
<%= render :partial => "uni_bottom"%>