<div class='profile-wrapper' id='edit-wrapper'>

    <div class='uniLeft'>
      <a href="#bizDevIntern" class='careerLink'>Business Development Intern</a>
    </div>

    <div class='careersRight'>
      <div class='careersRightWrap'>
        <div class='bold basicTitle' id='top'>Work at Weeve</div>
        <div class='careersInto'>
            Weeve is growing quickly; this is a once in a lifetime opportunity to be part of a team of young tech-savvy entrepreneurs who are changing the world. Weeve gives you the Silicon Valley start-up experience right here in Vancouver. At Weeve, your job is designed around you!
        </div>
          <div class='careerWrap' id='bizDevIntern'>

            <div class='bold careerTitle'>Business Development Intern<a href="#topHeader" class='backtotop'>back to top</a></div>
            <div class='careerPara'>The Business Development Intern will be directed by management to make contact with business & nonprofit partners in order to secure accounts and generate revenue. The Business Development Intern will join Weeve in an exciting phase of the startup process and be part of our launch. This is an opportunity to work with some of Vancouver's up-and-coming entreprenuers and have a "silicon valley" experience. Successful interns will be given priority in the hiring process following the end of their internships.</div>
            <div class='careerPara bold'>Business Development Interns will need to</div>
            <ul class='careersList'>
               <li>Live the mission of Weeve: Through innovation we build and empower communities to provide social good based on our commitment to transparency, efficiency, and social responsibility</li>
               <li>Be passionate about changing the world so that you can inspire potential partners to be part of our movement to create impactful, local, social change</li>
               <li>Be a student enrolled in College/University or hold a University degree, with the ability to commit to a minimum three month internship</li>
               <li>Have the ability to work from a home office and travel to meet with nonprofit & business organizations at their offices </li>
            </ul>
            <div class='careerPara bold'>Business Development Interns will receive</div>
            <ul class='careersList'>
              <li>The opportunity to work from an office with gym amenities</li>
              <li>Mentorship from executive team members and advisors</li>
              <li>The opportunity to develop a skill-set that will equip you for future job opportunities; all interns will receive letters of reference</li>
              <li>The opportunity to work in a technical startup environment and learn what it takes to build a lean startup</li>
            </ul>

            <div class='applyWrap'>
              <div class='bold'>Want to apply?</div>
              <div class='applyPara'>Tell us how awesome you are by sending an email to <a href="mailto:jobs@weeve.it?subject=Jobs: Business Development Intern">jobs@weeve.it</a>, along with your resume.  This position is an unpaid, full-time, on-site internship at our Vancouver office. </div>
            </div>
          </div>
      </div>
    </div>
</div>