<div id='colaradoWrap'>
	<div class='blackWash'></div>
	<div class='colContent'>
		<p>On July 20th, 2012, a masked gunman opened fire into a <br/>crowd of movie-goers at a Colorado movie theatre.</p>

		<p>We would like to express our deepest condolences to the <br/>victims and families of this heinous crime. </p>

		<p>Please join our movement to respect the preciousness of life.</p>
	</div>
	<div class='colSoaiclWrap'>
		<a href="https://twitter.com/share" class="twitter-share-button colTwitter" data-lang="en" data-url="http://www.weeve.it" data-via="WeeveIt" data-text="Please join our movement to respect the preciousness of life." data-hashtags="Aurora">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/fb_LT/all.js#xfbml=1&appId=446180152073734";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-like" data-href="http://www.weeve.it" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
	</div>
	
	
	<img src='<%= asset_path('candle.png') %>' class='candle'></img>
</div>
