<div class='bold weeve staticheader'>Weeve FAQ</div>

<div class='bold statictitle largetitle'>General Inquiries</div>

<div class='staticContentWrap'>
    <div class='bold statictitle'>What is Weeve?</div>
    <div>Weeve is a community of change agents. Our free, simple and secure platform connects businesses, individuals and nonprofit organizations together in order to generate positive social change, one community at a time.</div>

    <div class='bold statictitle'>Whats kinds of projects are on Weeve?</div>
    At this point, Weeve only hosts community projects taken on by registered nonprofit organizations or charities. Examples of these projects are a shelter for homeless people, a new education program, or a new research initiative.  A community project has to tangibly benefit the community as a whole by helping a group of people who are in need.

    <div class='bold statictitle'>Why donate through Weeve?</div>
    Weeve pre-certifies the legitimacy of all its registered nonprofits, and requires all nonprofit organizations to provide 100% transparency by keeping their donors updated with their project’s progress. Generally speaking, 35% of donations to big charities and organizations are used to cover overhead costs such as promotion and administration. Weeve has developed a solution to this by providing project-specific donation conduits to maximize the impact of your donation on your community. By donating to a project-specific endeavor, you can follow the project, and receive notifications of all the milestones reached. With Weeve, you know exactly what your money is being used for. It’s donation that makes sense.
**Please note that PayPal takes a 2.9% +0.30 transaction fee when you donate. We use PayPal because they are convenient, easy and safe to use.

    <div class='bold statictitle'>Who are you people?</div>
    We are a team of dedicated young social entrepreneurs with blackbelts in business development, nonprofit advocacy, software development, communications and social media.  We are on a mission to make a difference in communities across the globe.
</div>
<div class='bold statictitle largetitle'>Creating a Project- For Nonprofit Organizations</div>
<div class='staticContentWrap'>
    <div class='bold statictitle'>Am I eligible to start a community project?</div>
    You need to be a registered Canadian charity or nonprofit organization to post a project campaign on Weeve. The project creator needs to be at least 18 years or older.
    <br/><br/>
    Your project must also follow our project guidelines:
    <ul>
        <li>Community Projects Only</li>
        <li>100% of the money raised must go towards the project</li>
        <li>Be able to demonstrate measurable results and project milestones</li>
        <li>Have a PayPal business account</li>
    </ul>
    If you are not based in Vancouver, we’re working very hard to expand our networks to other cities as soon as possible. However, at this juncture you are still able to post projects, link your networks into your campaign, and receive secure donations through our website. Your patience is greatly appreciated!

    <div class='bold statictitle'>Is it free to use Weeve?</div>
    While it’s free to use Weeve to create projects, we charge a 5% transaction fee of the amount of money raised in order to sustain our operating costs. Compared to our competitors who charge 15% and/or $500/month, we provide the best user experience at the lowest rate.

    <div class='bold statictitle'>Do I need a PayPal Account?</div>

    Yes. In order to receive funding or make a donation, you must have a PayPal account. Please register a PayPal account at www.paypal.ca. It’s free to use PayPal!

    <div class='bold statictitle'>How do I create a project?</div>
    First you need to have a Weeve non-profit account, which you can create by signing up on our home page. After have created your account, log in, and you will be able to create a project by clicking on the “create project” button. You will then be directed to our project guidelines and the project set-up page. Once you have filled in all the required information, we will review your project and approve it provided meets our  project guidelines! :)

    <div class='bold statictitle'>Can I submit more than one project for review? </div>

    Yes, of course! We are working very hard to review all proposed projects. To ensure fairness, we review them in a first come first serve basis.

    <div class='bold statictitle'>Can I change my funding goal and deadline?</div>
    No. Once the project is live, the funding goal and deadline cannot be changed. This is to ensure fairness to donors, and other community projects. Please contact us at <a href='mailto:hello@weeve.it'>hello@weeve.it</a> if you run into a concern.

    <div class='bold statictitle'>Can I edit my project after launching?</div>
   Yes, of course! Simply login, and you can edit your project description by clicking on the “manage project” button. Please keep in mind that funding goal and deadline cannot be changed after your project goes live.

    <div class='bold statictitle'>Can I run more than one project at a time?</div>

    Yes, you can run as many projects as you wish, but we recommend against it because running a project takes a lot of focus. It really depends on your capacity and your ability to manage your projects.

    <div class='bold statictitle'>My project is canceled due to unpredictable reasons. What happens?</div>
    All the donation raised will be refunded to the respective donors. All the associated tax credits will be void.

    <div class='bold statictitle'>How do I receive funding?</div>
    All donation made towards your project will go directly to your PayPal account.
    <br/><br/>
    If you have any more questions, please feel free to contact us at <a href='mailto:hello@weeve.it'>hello@weeve.it</a>
Thanks!
</div>