<%= render :partial => 'pressbar' %>
<div id='mediaDiv'>
    <div id='mediaKitTitle' class='bold'>Weeve Press Releases</div>
    <p> This page contains press releases for Weeve.</p>
    <p> If you cannot find what you are looking for, feel free to <a href='mailto:hello@weeve.it' class='weeve-link'> contact us</a> directly</p>

	<hr class='dotted mediaDotted'/>

    <div class='mediaSubtitle bold'>Vancouver Startup Gives Back to Community through Crowdfunding</div>
	<p>July 2, 2012</p>
	<p>VANCOUVER – Made famous by websites like “Kickstarter,” crowdfunding has become an easy and effective means of raising money for projects. Vancouver- based tech startup “Weeve” makes use of this practice to raise money for local community projects and is the first in the world which uses a “freemium” model, allowing nonprofit organizations to keep money raised on Weeve without transaction fees. Weeve launched its beta website this week and is already seeing donations come in.</p>
	<p>Weeve users are asked to “give smarter” by allowing their dollars to go directly into community projects in need of funding. Beta-launch partners include Seva Canada, YouthCo, SharkTruth, and BC Children’s Hospital Foundation. Through Weeve, BC Children’s Hospital Foundation’s “Campaign for BC Children” is aiming to raise $5000 to help build a new hospital.</p>
	<p>“Partners like the BC Children’s Hospital Foundation benefit from Weeve through a number of means. First of all, our website lets them keep every dollar that they raise,” says Trevor Loke, Founder and Chief Operating Officer of Weeve, “We equip nonprofits with the platform and tools needed to reach audiences they may never have tapped into before. We also give tech-savvy and socially-conscious citizens an easy way to give small amounts of money that add up to create real change right where they live - change they can see. Weeve empowers nonprofit organizations to reach these crowds.”</p>
	<p>Alex Chuang, Founder and Chief Executive Officer, says that Weeve is the solution to a greater issue that is affecting nonprofits around the globe, “Individual giving in Canada peaked in 1991 when 30% of Canadians gave to charities. Today, that number hovers at less than 1 in 4 - an all-time low. Nonprofits worldwide are feeling the brunt of governments which are cutting their funding, making crowdfunding a tangible solution for the funding crisis in the nonprofit sector.”</p>
	<p>Other organizations and community projects will be launched in the coming weeks. To check out current projects visit <a href='http://www.weeve.it'>www.weeve.it</a>.</p>
	<p>Weeve founders consist of CEO Alex Chuang, a graduate of the Master of Management program at the UBC Sauder School of Business; COO Trevor Loke, a marketing, communications and fundraising professional who is also an elected official in the City of Vancouver as Vancouver Park Board Commissioner; and CTO Vincent Chu, who has worked for companies including SAP & IBM. All founders are 23 years old.</p>
	<%= link_to 'Download as PDF', asset_path('Weeve_launch_pr.pdf')%>
</div>