<div class='bold weeve staticheader'>Privacy Policy</div>

<div class="staticContent">Welcome to Weeve! Weeve is a crowdfunding platform that allows users to to fund and follow nonprofit projects that they care about in their community. Users can donate to projects, write comments, and manage their profiles. Nonprofit clients (“Partners”) can manage their project pages/profiles, upload videos/photos, and interact with their supporters. The website and its services at <a href="http://www.weeve.it">www.weeve.it</a> (“website” or “site”) are provided by Weeve Ventures Inc (“Weeve” or “We” or “Company”)

Before using services (“Service”) provided by Weeve Ventures Inc, please read our Privacy Policy (“Policy” or “Privacy Policy”) carefully. By using the website, you (“users” or “you”) agree to these privacy policy, and the <a href="http://www.weeve.it/terms">terms of use</a>. </div>

<div class='bold statictitle '>Weeve Ventures Inc. respects your privacy</div>

<div class="staticContent">Any personal information you provide to us including and similar to your name, address, telephone number and e-mail address will not be released, sold, or rented to any entities or individuals outside of Weeve Ventures Inc.</div>

<div class='bold statictitle '>Credit Card Details</div>
<div class="staticContent">Weeve Ventures Inc. will never ask for Credit Card details and request that you do not enter it on any of the forms on Weeve Ventures Inc. PayPal processes all donations and the transaction is encrypted using SSL technology. Weeve does not hold any credit card information. Data handled by PayPal is subject to PayPal's <a href="https://cms.paypal.com/ca/cgi-bin/marketingweb?cmd=_render-content&content_ID=ua/Legal_Hub_full&locale.x=en_US">terms of use</a> and <a href="https://cms.paypal.com/ca/cgi-bin/marketingweb?cmd=_render-content&content_ID=ua/Privacy_full&locale.x=en_US">privacy policy</a>.</div>

<div class='bold statictitle '>External Sites</div>
<div class="staticContent">Weeve Ventures Inc. is not responsible for the content of external internet sites. You are advised to read the privacy policy of external sites before disclosing any personal information.</div>

<div class='bold statictitle '>Information Collection</div>
<div class="staticContent">Traffic Data: Weeve collects traffic data when you visit our site and this includes your ip addresses, domain servers, web browsers used to access the site, and referring/exit pages. This is anonymous information and the sole purpose of us collecting this information is to improve the business and the user experience. 
Personal Information: In order for you to make donations through Weeve, you have to register with the website. We will ask for your e-mail and name. If you wish to be eligible for tax receipts, you will have to provide your legal name, e-mail, phone number, and address. Nonprofit organizations will have access to your personal information in order for them to issue tax receipts. Personal Information may include but not limited to: name, e-mail address, location, address, age, gender, business name, donation history, fundraising history etc.</div>

<div class='bold statictitle '>Public Information</div>
<div class="staticContent">Information that you post on campaign pages, profile pages, updates, comments or other public pages on the site can be accessed by other people. This may also other forms of media such as project images, logos, profile photos, and videos. We cannot control who will be accessing the shared information or how other parties will be using the shared information.</div>

<div class='bold statictitle '>Cookies</div>
<div class="staticContent">A "cookie" is a small data text file that is placed in your browser and allows Weeve Ventures Inc. to recognize you each time you visit this site(customisation etc). Cookies themselves do not contain any personal information, and Weeve Ventures Inc. does not use cookies to collect personal information. Cookies may also be used by 3rd party content providers such as newsfeeds.</div>

<div class='bold statictitle '>Remember The Risks Whenever You Use The Internet</div>
<div class="staticContent">While we do our best to protect your personal information, we cannot guarantee the security of any information that you transmit to Weeve Ventures Inc. and you are solely responsible for maintaining the secrecy of any passwords or other account information. In addition, other Internet sites or services that may be accessible through Weeve Ventures Inc. have separate data and privacy practices independent of us, and therefore we disclaim any responsibility or liability for their policies or actions.

Please contact those vendors and others directly if you have any questions about their privacy policies.</div>

<div class="staticContent">For any other information, please contact us at <a href='mailto:hello@weeve.it' class='weeve-link'>hello@weeve.it</a>.</div>