<%= render :partial => "projects/project_edit_top" %>

<div class='edit-title'>New Update</div>

<%= render :partial => "projects/update_form", :locals => {:submit_value => "Create", :action => :create} %>

<%= render "projects/project_edit_bottom" %>